@import '/node_modules/normalizecss/normalize.css';

body {
    overflow: hidden;
}

div {
    display: flex;
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}